---

---
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>BetterPonymotes for Safari</title>
        {% include head.html %}
    </head>
    <body id="projects">
		{% include navigation.html %}
		<main>
			<div class="content-wrap">
                <div class="centering">
                    <h1>BetterPonymotes for Safari</h1>
                    <img src="Plugin.png" class="autoScaleImage" alt="Image of a Safari Plugin"/>
                    <br>
                    <h4><a href="/BetterPonymotes-for-Safari/BPM.safariextz" download><span class="button">Download</span></a></h4>
                    <br>
                    <p>BetterPonymotes is now a native extension for Safari. Just download, and click to install. That's it!
                    For more information, or for other versions, please visit the <a href="http://ponymotes.net/">official BetterPonymotes site</a>.</p>
                    <table class="versionInfo">
                        <tr>
                            <th>BPM Version</th>
                        </tr>
                        <tr>
                            <td>66.241</td>
                        </tr>
                    </table>
                    <br><br>
                    <p>Thank you to uxyd on deviantArt for the <a href="http://www.deviantart.com/art/twibeam-emote-313908315">image</a>.</p>
                </div>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>
