<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.TwilightShadow1.bpm</string>
			<key>Developer Identifier</key>
			<string>3RZVGR9PCD</string>
			<key>CFBundleVersion</key>
			<string>66.264</string>
			<key>CFBundleShortVersionString</key>
			<string>66.264</string>
			<key>URL</key>
			<string>http://carson-shook.github.io/BetterPonymotes-for-Safari/BPM.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
